@import 'tailwindcss';

html,
body {
  font-family: 'Quicksand', ui-sans-serif, system-ui, -apple-system, Segoe UI,
    Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Arial,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}

/* Tambahkan palet brand kamu */
@theme {
  --color-brand: #ff5c36;
  --color-brand-600: #ff3f17; /* untuk hover */
}

/* Marquee keyframes (bergerak dari kiri ke kanan) */
@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
